.main-header {
  background-image: url("../img/main-header.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header__title {
  font-weight: 500;
  font-size: 80px;
  line-height: 110%;
  color: #FFFFFF;
  max-width: 652px;
  margin-bottom: 40px;
}

.main-header__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  padding-bottom: 84px;
  position: relative;
}

.main-header__arrow {
  transform: rotate(-90deg);
  fill: none;
  stroke: #FDFDFD;
  position: absolute;
  margin-left: 15px;
}

.main-header__container {
  min-width: 1390px;
}

.main-header--padding {
  padding-top: 240px;
}


.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.sticky .main-nav__logo {
  fill: #1E5AAF;
}

.sticky.main-nav {
  color: #252627;
  background-color: #FFFFFF;
}

.sticky .main-nav__arrow {
  stroke: #797A84;
}

.sticky .main-nav__search {
  stroke: #797A84;
}

.sticky .main-nav__button--check {
  color: #DF0050;
}

.sticky .main-nav__button--buy {
  background-color: #0F57BE;
  color: #FDFDFD;
}

.sticky .dropdown-content {
  background: #FDFDFD;
  margin-top: 30px;
  padding-top: 40px;
}
